<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>    
    <script src="../static/js/login.js"></script>
</head>
<body>
  <header class="header">
    <div class="logo">Claro <span class="highlight">empresas</span></div>
    <h1>Bienvenido a Claro Empresas</h1>
    <nav class="nav">
        <a href="#" class="nav-link">whatsapp</a>
        <a href="#" class="nav-link">Facebook</a>
        <a href="#" class="nav-link">Instragram</a>
    </nav>
  </header>
    <p>Selecciona a continuación para registrarte como nuestro socio</p>
    <div id="loginButton" style="">
      <button onclick="launchWhatsAppSignup()" style="background-color: #1877f2; border: 0; border-radius: 4px; color: #fff; cursor: pointer; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: bold; height: 40px; padding: 0 24px;">Login con Facebook</button>
      </div>
    
    <!-- Botón para iniciar registro embebido -->
    

</body>
</html>
