<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Claro Empresas</title>
    <link rel="stylesheet" href="D:\desarrollo\METa\oficial\produccion\django\proyecto_django\staticfiles\css\styless.css">

</head>
<body>
    <header class="header">
        <div class="logo-container">
            <a href="#" class="logo">Claro empresas</a>
        </div>
        
        <!-- Hamburger Button -->
        <div class="hamburger" onclick="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <nav class="nav-container">
            <a href="#" class="nav-item active">
                <div class="service-container">
                    Servicios Fijos
                    <span class="subtext">Internet + TV + Voz</span>
                </div>
            </a>
            <a href="#" class="nav-item">
                <div class="service-container">
                    Claro Cloud
                    <span class="subtext">Servicios en la Nube</span>
                </div>
            </a>
            <a href="#" class="nav-item">
                <div class="service-container">
                    Móvil Pospago
                    <span class="subtext">Planes para empresas</span>
                </div>
            </a>
            <a href="#" class="nav-item">
                <div class="service-container">
                    Claro Media
                    <span class="subtext">Publicidad Digital</span>
                </div>
            </a>
            
        </nav>
    </header>

    <script src="D:\desarrollo\METa\oficial\produccion\django\proyecto_django\staticfiles\js\base.js">
    </script>
</body>
</html>